body,html{
    padding: 0px;
    margin: 0px;
}
body{
    background: darkred;
    font-family: 'Russo One', sans-serif;
    font-size: 15px;
}
h1{
    margin: 5px;
    text-decoration: underline;
}
p{
    text-align: center;
    margin: 10px;
    font-size: 18px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: black;
   overflow: hidden;
}
li{
    float: left;
    font-size: 15px;
}

li a{
    color: red;
    display: block;
    padding: 10px 10px;
    text-decoration: none;
}

li a:hover{
    background: darkslategray;
}


.imgp{
    margin: 20px;
    float: left;
}

.imgw{
    margin: 20px;
    float: left;
}

